<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../fdwc.css">
</head>
<body>

<section class="fiveDaysforecast">


<!-- this is the daily  -->      
<section class="fdwContainer">
    

<section id="dayOne"> 
<div class="wCard">
    <h3>Day 1</h3>
    <h2>Date</h2>
    <div>weather image here</div>
    <div class="minMax">
    <p class="min">Min</p>
    <p class="max">Max</p>
    </div>
</div>
</section>  

<div id="dayTwo" class="wCard">
    <h3>Day 1</h3>
    <h2>Date</h2>
    <div>weather image here</div>
    <div class="minMax">
    <p class="min">Min</p>
    <p class="max">Max</p>
    </div>
</div>

<div id="dayThree" class="wCard">
    <h3>Day 1</h3>
    <h2>Date</h2>
    <div>weather image here</div>
    <div class="minMax">
    <p class="min">Min</p>
    <p class="max">Max</p>
    </div>
</div>

<div id="dayFour" class="wCard">
    <h3>Day 1</h3>
    <h2>Date</h2>
    <div>weather image here</div>
    <div class="minMax">
    <p class="min">Min</p>
    <p class="max">Max</p>
    </div>
</div>

<div id="dayFive" class="wCard">
    <h3>Day 1</h3>
    <h2>Date</h2>
    <div>weather image here</div>
    <div class="minMax">
    <p class="min">Min</p>
    <p class="max">Max</p>
    </div>
</div>
</section>



<!-- this is the start of every 3 hours --> 


<section id="everythreehrscontainer">

<!-- this is the every 3 hours --> 

<section id="dayOne3hrs" hidden>
    
<div  class="hrlyforecast" >  

<div class="hrCard">
    <p>Time 1</p>
    <div>image</div>
    <p>temp (23c)</p>
    <p>?? mm</p>
    <p>?? %</p>
    <p>?? m/s</p>
</div>

<div class="hrCard">
    <p>Time 2</p>
    <div>image</div>
    <p>temp (23c)</p>
    <p>?? mm</p>
    <p>?? %</p>
    <p>?? m/s</p>
</div>

<div class="hrCard">
    <p>Time 3</p>
    <div>image</div>
    <p>temp (23c)</p>
    <p>?? mm</p>
    <p>?? %</p>
    <p>?? m/s</p>
</div>

<div class="hrCard">
    <p>Time 4</p>
    <div>image</div>
    <p>temp (23c)</p>
    <p>?? mm</p>
    <p>?? %</p>
    <p>?? m/s</p>
</div>

<div class="hrCard">
    <p>Time 5</p>
    <div>image</div>
    <p>temp (23c)</p>
    <p>?? mm</p>
    <p>?? %</p>
    <p>?? m/s</p>
</div>

<div class="hrCard">
    <p>Time 6</p>
    <div>image</div>
    <p>temp (23c)</p>
    <p>?? mm</p>
    <p>?? %</p>
    <p>?? m/s</p>
</div>

<div class="hrCard">
    <p>Time 7</p>
    <div>image</div>
    <p>temp (23c)</p>
    <p>?? mm</p>
    <p>?? %</p>
    <p>?? m/s</p>
</div>

<div class="hrCard">
    <p>Time 8</p>
    <div>image</div>
    <p>temp (23c)</p>
    <p>?? mm</p>
    <p>?? %</p>
    <p>?? m/s</p>
</div>
</div>  
</section>


<!-- this is the every 3 hours --> 


<section id="dayTwo3hrs" hidden>
    <div  class="hrlyforecast">  
    <div class="hrCard">
        <p>Time 1</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 2</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 3</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 4</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 5</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 6</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 7</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 8</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    </div>  
    </section>
    
    <!-- this is the every 3 hours --> 
<section id="dayThree3hrs" hidden >
    <div  class="hrlyforecast" >  
    
    <div class="hrCard">
        <p>Time 1</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 2</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 3</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 4</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 5</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 6</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 7</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 8</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    </div>  
    </section>
    
    <!-- this is the every 3 hours --> 
<section id="dayFour3hrs" hidden>
    <div class="hrlyforecast">  
    
    <div class="hrCard">
        <p>Time 1</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 2</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 3</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 4</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 5</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 6</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 7</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 8</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    </div>  
    </section>

    <!-- this is the every 3 hours --> 
<section id="dayfive3hrs" hidden>
    <div class="hrlyforecast">  
    
    <div class="hrCard">
        <p>Time 1</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 2</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 3</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 4</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 5</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 6</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 7</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    
    <div class="hrCard">
        <p>Time 8</p>
        <div>image</div>
        <p>temp (23c)</p>
        <p>?? mm</p>
        <p>?? %</p>
        <p>?? m/s</p>
    </div>
    </div>  
    </section>
</section>
    
<script src='../index.js'></script>
</body>
</html>

    
